.page-header {
    color: wheat;
}

table th {
    background-color: black;
    text-align: center;
    color: wheat;
}


/* #trashs {
    margin-left: 500px;
    width: 118px;
} */

#addnews {
    margin-top: 0px;
}

.table {
    background-color: white;
    height: 100px;
}